input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.label {
    font-size: medium;
    font-weight: 300;
}

#submitRequest {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(31, 102, 255);
    color: white;
    font-size: 1rem;
}

.request__delete {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1rem;
}

.request_desc {
    border: rgb(31, 102, 255) solid;
    width: 55%;
    padding: 12px 5px;
    margin: 2px 0;
}